
COO/Code/COO1_rectangles/\.idea/

*.class

*.iml

*.o

*.exe

COO/ASCENCEUR/code/\.idea/

Bases de C/Seance3/Code/scanf_example_toupper

POO/Polynome/\.idea/*

POO/Polynome/\.idea/

*.RTF

*.ldb

*.eap

POO/Belote/\.idea/

Système et réseau/TP1/annees/

Système et réseau/TP1/Sys/

Système et réseau/TP1/Poesie/
